/*
Theme Name: Opera2
Theme URI: http://www.opera2.com.br
Author: Opera2
Author URI: http://www.opera2.com.br
Description: Tema de início para o Wordpress criado pela Opera2
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: opera2
 
Qualquer coisa que você queira escrever para outros desenvolvedores.
*/
.paddingtop-10{
    padding-top: 10px;
}
.paddingtop-20{
    padding-top: 20px;
}
.paddingtop-30{
    padding-top: 30px;
}
.paddingtop-40{
    padding-top: 40px;
}
.paddingtop-50{
    padding-top: 50px;
}

.paddingbottom-10{
    padding-bottom: 10px;
}
.paddingbottom-20{
    padding-bottom: 20px;
}
.paddingbottom-30{
    padding-bottom: 30px;
}
.paddingbottom-40{
    padding-bottom: 40px;
}
.paddingbottom-50{
    padding-bottom: 50px;
}

.color-white{
    color: #FFFFFF !important;
}
.color-black{
    color: #000000 !important;
}
.color-red{
    color: #cc0000 !important;
}
.color-yellow{
    color: #ffcc00 !important;
}
.color-green{
    color: #009933 !important;
}
.color-purple{
    color: #990099 !important;
}
.color-blue{
    color: #3366ff !important;
}
.color-orange{
    color: #ff9900 !important;
}

.color-facebook{
    background: #3B5998 !important;
    color: #FFF !important;
}
.color-instagram{
    background: #7E39B0 !important;
    color: #FFF !important;
}
.color-youtube{
    background: #E62E24 !important;
    color: #FFF !important;
}
.color-tripadvisor{
    background: #8EC560 !important;
    color: #FFF !important;
}

.embed-container { 
    position: relative; 
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}